{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <div class="input-group md-form form-sm form-1 pl-0">
        <div class="input-group-prepend">
            <span class="input-group-text cyan lighten-2" id="basic-text1"><i class="fas fa-search text-white"
                aria-hidden="true"></i></span>
        </div>
        <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search" id="search_input_field">
    </div>

    <div class="search_button">
        <button type="button" class="btn btn-success" id="search_button"> Find </button>
    </div>
    <div class="container_search">
        <input type="text" class="form-control" id="input_mark"  placeholder="mark">
        <input type="text" class="form-control" id="input_model"  placeholder="model">
        <input type="text" class="form-control" id="input_year_from"  placeholder="year from">
        <input type="text" class="form-control" id="input_year_to"  placeholder="year to">
        <input type="text" class="form-control" id="eng_capacity_from"  placeholder="Engine capacity, from">
        <input type="text" class="form-control" id="eng_capacity_to"  placeholder="Engine capacity, to">
        <input type="text" class="form-control" id="mileage_from"  placeholder="Mileage from">
        <input type="text" class="form-control" id="mileage_to"  placeholder="Mileage to">
        <input type="text" class="form-control" id="trainsmission"  placeholder="Trainsmission type">
        </div>

    <h3>Search results</h3>
    <img src="{% static "home/simple car.jpg" %}">

    <script src="{% static "home/krasivo.js" %}"></script>
    <script src="{% static "home/search.js" %}"></script>

{% endblock content %}
