{% extends "home/base.html" %}
{% load static %}

{% block content %}


    <div class="container_search">
        <input type="text" class="form-control" id="input_mark"  placeholder="mark">
        <input type="text" class="form-control" id="input_model"  placeholder="model">
        <input type="text" class="form-control" id="input_year_from"  placeholder="year from">
        <input type="text" class="form-control" id="input_year_to"  placeholder="year to">
        <input type="text" class="form-control" id="eng_capacity_from"  placeholder="Engine capacity, from">
        <input type="text" class="form-control" id="eng_capacity_to"  placeholder="Engine capacity, to">
        <input type="text" class="form-control" id="mileage_from"  placeholder="Mileage from">
        <input type="text" class="form-control" id="mileage_to"  placeholder="Mileage to">
    </div>

    <h5>Transmission type</h5>
    <div class="trainsmission_type">
        <input type="checkbox" id="tr_mechanic"> Mechanic
        <input type="checkbox" id="tr_robot"> Robot
        <input type="checkbox" id="tr_automat"> Automat
        <input type="checkbox" id="tr_variator"> Variator
    </div>

    <h3>Your car values</h3>
    <div class="container_search">
        <input type="text" class="form-control" id="input_year_user"  placeholder="year">
        <input type="text" class="form-control" id="eng_capacity_user"  placeholder="Engine capacity">
        <input type="text" class="form-control" id="mileage_user"  placeholder="Mileage">
    </div>

    <div class="button_type">
        <div class="search_button">
            <button type="button" class="btn btn-success" id="search_button"> Market analysis </button>
        </div>

        <div class="product_button">
            <button type="button" class="btn btn-success" id="product_button"> Product analysis </button>
        </div>

        <div class="report_button">
            <button type="button" class="btn btn-success" id="report_button"> Create report </button>
        </div>
    </div>


    <div id="market_anal">
        <h3>Search results</h3>
        <h4 id='std_market'>Standard deviation: </h4>
        <h4 id='mean_market'>Mean: </h4>
        <h4 id='n_market'>Amount: </h4>
        <img src="{% static "home/simple car.jpg" %}">
        <h1 id="search_result"></h1>
    </div>

    <div id="product_anal">
        <h3>Product analysis</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Val</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Множественный R</td>
              <td class='multi_r_text'>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td class='r_sqr_text'>R-квадрат</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td class='norm_r_text'>Нормированный R-квадрат</td>
              <td>the Bird</td>
            </tr>
            <tr>
                <th scope='row'>4</th>
                <td class='std_text'>Стандартная ошибка</td>
                <td>34</td>
            </tr>
            <tr>
                <th scope='row'> 5</th>
                <td class="n_text">Наблюдения</td>
                <td>34</td>
          </tbody>
        </table>
    </div>

    <div id="report_anal">
        <h3>👇 Download report 👇</h3>
    </div>

    <script src="{% static "home/krasivo.js" %}"></script>
    <script src="{% static "home/search.js" %}"></script>

{% endblock content %}
